//
//	_adaptive.scss
//	Адаптивность
//
//	Copyright © 2019 Andrey Shpigunov. All right reserved.
//


@mixin screen-xlarge {
	@media (min-width: $screen-xlarge + 1) { @content; }
}
@mixin screen-large {
	@media (max-width: $screen-large) { @content; }
}
@mixin screen-medium {
	@media (max-width: $screen-medium) { @content; }
}
@mixin screen-small {
	@media (max-width: $screen-small) { @content; }
}
@mixin screen-xsmall {
	@media (max-width: $screen-xsmall) { @content; }
}


//	Использование миксинов
//	----------------------
// @include screen-xlarge { ... }
// @include screen-large { ... }
// @include screen-medium { ... }
// @include screen-small { ... }
// @include screen-xsmall { ... }


img {
	width: auto;
	height: auto;
	max-width: 100%;
}


@media (min-width: $screen-large + 1) {
	.xlarge-hide { display: none !important }
}
@media (min-width: $screen-medium + 1) and (max-width: $screen-large) {
	.large-hide { display: none !important }
}
@media (min-width: $screen-small + 1) and (max-width: $screen-medium) {
	.medium-hide { display: none !important }
}
@media (min-width: $screen-xsmall + 1) and (max-width: $screen-small) {
	.small-hide { display: none !important }
}
@media (max-width: $screen-xsmall) {
	.xsmall-hide { display: none !important }
}




/*.large {
	&-hide { display: none !important; }
	&-show { display: block !important; }
	&-show-inline { display: inline !important; }
	&-show-inlineblock { display: inline-block !important; }
}

@include screen-xlarge {
	
	.xlarge {
		&-hide { display: none !important; }
		&-show { display: block !important; }
		&-show-inline { display: inline !important; }
		&-show-inlineblock { display: inline-block !important; }
	}
	
}

@include screen-medium {
	
	.medium {
		&-hide { display: none !important; }
		&-show { display: block !important; }
		&-show-inline { display: inline !important; }
		&-show-inlineblock { display: inline-block !important; }
	}
	
}

@include screen-small {
	
	.small {
		&-hide { display: none !important; }
		&-show { display: block !important; }
		&-show-inline { display: inline !important; }
		&-show-inlineblock { display: inline-block !important; }
	}
	
}

@include screen-xsmall {
	
	.xsmall {
		&-hide { display: none !important; }
		&-show { display: block !important; }
		&-show-inline { display: inline !important; }
		&-show-inlineblock { display: inline-block !important; }
	}
	
}*/