//
//	_adaptive.scss
//	Адаптивность
//
//	Copyright © 2019 Andrey Shpigunov. All right reserved.
//


@mixin screen-xlarge {
	@media (min-width: $screen-xlarge) { @content; }
}
@mixin screen-large {
	@media (max-width: $screen-large) { @content; }
}
@mixin screen-medium {
	@media (max-width: $screen-medium) { @content; }
}
@mixin screen-small {
	@media (max-width: $screen-small) { @content; }
}
@mixin screen-xsmall {
	@media (max-width: $screen-xsmall) { @content; }
}


//	Использование миксинов
//	----------------------
// @include screen-xlarge { ... }
// @include screen-large { ... }
// @include screen-medium { ... }
// @include screen-small { ... }
// @include screen-xsmall { ... }


img {
	width: auto;
	height: auto;
	max-width: 100%;
}

.large {
	&-hide { display: none; }
	&-show { display: block; }
	&-show-inline { display: inline; }
	&-show-inlineblock { display: inline-block; }
}

@include screen-xlarge {
	
	.xlarge {
		&-hide { display: none; }
		&-show { display: block; }
		&-show-inline { display: inline; }
		&-show-inlineblock { display: inline-block; }
	}
	
}

@include screen-medium {
	
	.medium {
		&-hide { display: none; }
		&-show { display: block; }
		&-show-inline { display: inline; }
		&-show-inlineblock { display: inline-block; }
	}
	
}

@include screen-small {
	
	.small {
		&-hide { display: none; }
		&-show { display: block; }
		&-show-inline { display: inline; }
		&-show-inlineblock { display: inline-block; }
	}
	
}

@include screen-xsmall {
	
	.xsmall {
		&-hide { display: none; }
		&-show { display: block; }
		&-show-inline { display: inline; }
		&-show-inlineblock { display: inline-block; }
	}
	
}